.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #123398;
    color: rgb(255, 255, 255);
    

  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 15px;

  }
  
  .location-input {
    padding: 5px;
    border-radius: 10px;
   
  }
  
  
  .register-provider-btn, .faq-btn, .login-btn,.navbar-button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  
  